# Quando executarmos "npm install", a versão das dependências instaladas serão fixadas removendo o "^ ou ~" da versão.
# Desta forma poderemos atualizar nosso projeto usando o bot "renovate" para analisar e atualizar as versões das dependências, pois ele roda os testes automatizados, testes unitários entre outros da nossa aplicação para verificar se nossa aplicação continuou funcionando após as atualizações. Caso os testes passem ele cria uma pull request dentro do github/gitlab  sugerindo as atualizações das dependências. Mas se um teste falhar ele mostrará qual teste falhou e isso, facilitará para que possamos ver a documentação e assim corrigir a falha.
save-exact=true
